.main-page {
  display: block;
}

.addEntryBtn {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

a {
  margin-top: 6rem;
  text-decoration: none;
  border-radius: 4px;
  border: solid black;
  box-shadow: 2px 2px;
  padding: 0.7rem 4.5rem;
  border-width: 2px;
  border-color: black;
  background-color: white;
  color: black;
}

a:hover {
  background-color: #9dbbed;
}

.modal-page {
  position: fixed;
}

.addEntry {
  width: 200%;
  border: solid;
  align-items: center;
}

#textInput {
  display: block;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: right;
}

textarea {
  resize: none;
}
